langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-chroma
 
chromadb
openai
tiktoken
 
pypdf
pdfminer.six
unstructured
 
python-dotenv
requests
networkx
langgraph
streamlit
pyvis
pandas